# {{ ansible_managed }}

agentAddress  {{ snmpd_agent_address | join(",") }}

{% if snmpd_sys_name is defined %}
sysName       {{ snmpd_sys_name }}
{% endif %}
sysLocation   {{ snmpd_sys_location }}
sysContact    {{ snmpd_sys_contact }}

sysServices   72

master agentx

{% if snmpd_custom_options|d() and snmpd_custom_options %}
{{ snmpd_custom_options }}
{% endif %}
